/*Centra la página web*/
.resolucion {     
    width: 800px; margin: 0 auto;            
}

.ui-widget {
    font-size: 82% !important;
}
.ui-widget .ui-widget {
    font-size: 100% !important;
}

body{
	font-family: Lato; 
}
